.menucontainer {
    height: 60px;
    background-color: rgb(249 115 22);
    /* background-color: black; */
    /* opacity: 70%; */
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index : 40;
    /* border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey; */
    display: flex;
    flex-direction:row;

}
.logoimg {
    height:100%;
    width: auto;
}
.itemcontainer {
    width:120px;
    text-align:center;
    margin-top: auto;
    margin-bottom: auto;
    
    font-size:20px;
    color: white;
}